svg {
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.shape-opacity {
  fill: yellowgreen;
  fill-opacity: 0.75
}

.shape-transparent {
  fill: none
}

.rect-1{
  fill: tomato;
}

.rect-2{
  fill: lightseagreen;
  fill-opacity: 0.5
}

.rect-3{
  fill: #ffd700;
}

.rect-4{
  fill-opacity: 0;
}

.shape-stroke {
  fill: lightseagreen;
  stroke: teal;
  stroke-width: 5%
}

svg {
  width: 500px;
  border: 2px solid #550000;
}
.task{
  border: 2px solid #555;
}

.cl_green {
  fill: green;
  fill-opacity: 0.1;
}